<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.san.graduation.mapper.GuideTaskMapper">
  <resultMap id="BaseResultMap" type="com.san.graduation.domain.GuideTask">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="created_at" jdbcType="DATE" property="createdAt" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="task_no" jdbcType="VARCHAR" property="taskNo" />
    <result column="task_title" jdbcType="VARCHAR" property="taskTitle" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="task_content" jdbcType="LONGVARCHAR" property="taskContent" />
  </resultMap>

  <sql id="baseSql">task_title,task_content,tag,task_no,user_no,created_at,created_by </sql>

  <select id="findByKeyWord" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="baseSql"/> from guide_task WHERE  is_delete = 0
    <if test="null!=keyWord"> or task_title like concat('%',#{keyWord},'%')</if>
    <if test="null!=keyWord"> or task_content like concat('%',#{keyWord},'%')</if>
    <if test="null!=keyWord"> or tag like concat('%',#{keyWord},'%')</if>

  </select>
</mapper>