<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.san.graduation.mapper.GuideOrderMapper">
  <resultMap id="BaseResultMap" type="com.san.graduation.domain.GuideOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="send_no" jdbcType="VARCHAR" property="sendNo" />
    <result column="recevier_no" jdbcType="VARCHAR" property="recevierNo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="task_no" jdbcType="VARCHAR" property="taskNo" />
  </resultMap>

  <sql id="baseSql"> info.send_no,info.recevier_no,info.status</sql>



</mapper>