<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.san.graduation.mapper.UserDetailMapper">
  <resultMap id="BaseResultMap" type="com.san.graduation.domain.UserDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="skill" jdbcType="VARCHAR" property="skill" />
    <result column="total_task" jdbcType="INTEGER" property="totalTask" />
    <result column="avg_score" jdbcType="DECIMAL" property="avgScore" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
  </resultMap>

  <sql id="baseSql">skill,total_task,avg_score,photo,introduction </sql>

  <update id="updateUserInfoByUserNo" parameterType="com.san.graduation.domain.User">
    UPDATE user_detail set skill = #{skill},photo = #{photo},introduction = #{introduction} where user_no = #{userNo}
  </update>

  <select id="findByUserNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="baseSql"/> from user_detail WHERE  user.is_delete = 0 and user.user_no = #{userNo}
  </select>
</mapper>